* {
  background-color: #007e81;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img img{
height: 100%;
width: 100%;
display: block;
margin-top: 0;
padding: 0;
}

.video h2 {
  
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 64%;
  text-align: center;
  background-color: #004853;
  color: antiquewhite;
  border-radius: 5px; 
  font-size: 150%;
  
}


main div iframe {
  margin-inline-start: 25%;
  border-radius: 8px;
  margin-top: 1%;
  margin-bottom: 2%;
}

/*animation*/

header div {
  animation: fromtop .4s backwards;
}

main div {
  animation: fromtop .8s backwards ;
}

main div img:nth-child(1) {
  animation-delay: 0;
}
main div img:nth-child(2) {
  animation-delay: .4s;
}
main div img:nth-child(3) {
  animation-delay: .12s;
}
main div h2 {
  animation-delay: .8s;
}

footer div{
  animation: fromtop .12s backwards;
}
 

@keyframes fromtop {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}